<div class="admins-wrapper">

 <div class="admins-content">
  Hoi <%= current_user.username %>
  <br><br>
  <div class="admin-choice">
    <%= link_to "Show events", admins_path(choice: 'events'), class: "btn btn-loc-cat btn-space" %>
    <%= link_to "Show locations", admins_path(choice: 'locations'), class: "btn btn-loc-cat btn-space" %>
    <%= link_to "Add Event", new_event_path, class: "btn btn-loc-cat btn-space" %>
     <%= link_to "Add Location", new_location_path, class: "btn btn-loc-cat btn-space" %>
  </div>
  <br>

  <% if @choice && @choice == 'events' %>
  <%= render 'events' %>
  <% elsif @choice && @choice == 'locations' %>
  <%= render 'locations' %>
  <% else %>
  <%= render 'events' %>
  <% end %>
</div>
</div>



