<div class="admins-wrapper">

 <div class="admins-content">
  Hoi <%= current_user.username %>
  <br><br>
  <div class="admin-choice">
    <%= link_to "Events", admins_path(choice: 'events'), class: "btn btn-loc-cat btn-space" %>
    <%= link_to "Locations", admins_path(choice: 'locations'), class: "btn btn-loc-cat btn-space" %>
  </div>
  <br>

  <% if @choice && @choice == 'events' %>
  <%= render 'events' %>
  <% elsif @choice && @choice == 'locations' %>
  <%= render 'locations' %>
  <% else %>
  <%= render 'events' %>
  <% end %>
</div>
</div>



