<div class="menu-crosses">
    <div>
    <div class="menu-1"> <%= link_to "X", locations_path, class: "menu-cross-1"  %><span class="hidden menu-1-text">Where to go?</span></div>
    <div class="menu-2"> <%= link_to "X", events_path, class: "menu-cross-2"  %><span class="hidden menu-2-text">What's on?</span></div>
    <div class="menu-3"> <%= link_to "X", "/pages/get_the_map", class: "menu-cross-3"  %><span class="hidden menu-3-text">Get the map</span></div>
  </div>
  </div>

<div class="menu-home">
  <%= link_to root_path do  %>
  <%= image_tag "st-logo-klein.png", height: '60px'  %>
  <% end  %>
</div>
