<% content_for :meta_title , "Sneaker Tours" %>
<% content_for :meta_description , "Your alternative guide through Amsterdam, check the agenda for upcoming events!"  %>
<% content_for :meta_image , "party.png" %>

<div class="wrapper-events">
  <div class="events-background"></div>
  <div class="events-content">
    <div class="container">
      <div class="row">
        <% @events.order(:start_date).each do |event| %>
        <div class="col-xs-6 col-sm-4 col-md-3">
        <!-- Start of event-card -->
          <div class="events-card">
           <%= link_to "", event_path(event), class: "event-card-link"  %>
          <!-- make random up and down pictures-->
          <%# if event.id % 2 == 0 %>
            <!-- <div class="event-card-text-up"> -->
          <%# else %>
            <div class="event-card-text-down">
          <%# end %>


              <div class="event-card-title">
                <%= event.title %>
              </div>

              <div class="event-card-loc">
                <% if event.location %>
                  <%= event.location.name %>
                <% else %>
                  somewhere
                <% end %>

              </div>

               <div class="event-card-date">
                <!-- Show startdate and enddate when difference is more than 24 hours -->
                <% a = event.end_date - event.start_date %>
                <% if (a / 60 / 60) >= 24 %>
                    <%= event.start_date.strftime("%e %b") %> -  <%= event.end_date.strftime("%e %b") %> <br>
                <% else %>
                    <%= event.start_date.strftime("%e %b") %> <br>
                <% end %>
                </div>


            </div>
            <%# if event.id % 2 == 0 %>
              <!-- <div class="event-card-image-down"> -->
            <%# else %>
               <div class="event-card-image-up">
            <%# end %>
              <%= image_tag event.always_image %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <!-- End of event-card -->
    </div>
  </div>
  <div class="add_event">
  Missing an event? <br>
 <%= link_to "Add an Event", new_event_path, class: "btn btn-add-event"  %></div>
  <!-- SHow the pagination -->
  <div class="events-pagination">
         <%= will_paginate @events,
        :previous_label => "<",
        :next_label     => ">"
    %>
  </div>
</div>
</div>
</div>


