<% content_for :meta_title , @event.title %>
<% content_for :meta_description , @event.description  %>
<% content_for :meta_image , @event.always_image %>

<div class="wrapper-event" style="background-image: url(<%= @event.always_image %>)">
  <div class="event-content">
    <!-- Date of the event (one day or more) -->
    <div class="event-date">
      <% a = @event.end_date - @event.start_date %>
      <% if (a / 60 / 60) >= 24 %>
      <%= @event.start_date.strftime("%e %b") %> -  <%= @event.end_date.strftime("%e %b") %> <br>
      <% else %>
      <%= @event.start_date.strftime("%e %b") %> <br>
      <% end %>
    </div>

    <% unless @event.start_date.strftime("%H:%M") ==   @event.end_date.strftime("%H:%M") || (a / 60 / 60) >= 24%>
    <div class="event-time">
     <%= @event.start_date.strftime("%H:%M") %> -  <%= @event.end_date.strftime("%H:%M") %>
   </div>
   <% end %>


   <div class="event-title">
    <%= @event.title %>
  </div>
  <div class="event-description">
    <%= @event.description %>
  </div>
  <div class="event-link">
    <%= social_share_button_tag(@event.title, image: @event.always_image) %>
    <%= link_to "check the eventpage", @event.link %>
  </div>

  <div class="event-details">
    <div id="event-map">
      <!-- This is the part were the map comes -->
    </div>
    <div class="event-location">
      <div class="event-waardan">Where is this?</div>
      <div class="event-waardan-info">
      <% if @event.location %>
          <%= @event.location.name %> <br> <br>
        <%= truncate(@event.location.description, :length => 100) %>
        <div class="event-link"> <br>
        <%= link_to "Check this location", location_path(@event.location) %>
        </div>
      <% end %>
      </div>

    </div>
  </div>



</div> <br><br><br>
<!-- Show button to edit events to admin -->
<% if current_user && current_user.permission == "admin" %>
  <div class="text-center">
<%= link_to "edit this event", edit_event_path(@event) ,class: "btn btn-loc-cat"  %></div>
</div>
<% end %>

</div>

<% if @event.location %>
  <% content_for(:after_js) do %>
<script type="text/javascript">
  $(document).on('ready', function() {
    var myLatLng = {lat: <%= @event.location.latitude %>, lng: <%= @event.location.longitude %>};

    // var imageBounds = {
    //   north: 52.402162,
    //   south: 52.346415,
    //   east: 4.978654,
    //   west: 4.853680
    // };

    var map = new google.maps.Map(document.getElementById('event-map'), {
      zoom: 12,
      minZoom: 12,
      center: myLatLng,
      draggable: true,
      scrollwheel: false,
      mapTypeControl: false,
      styles: window.mapStyle
    });

    map.addListener('zoom_changed', function(map){
      lockBounds(this)
    });

    map.addListener('dragend', function(map){
      lockBounds(this)
    });

    map.addListener('idle', function(map){
      lockBounds(this)
    });

    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      animation: google.maps.Animation.DROP,
      icon: "http://res.cloudinary.com/aafke/image/upload/v1468500999/markerblauw_rsfl86.png"
    });

    // stOverlay = new google.maps.GroundOverlay(
    //   "http://res.cloudinary.com/aafke/image/upload/v1468501647/st-map-kleiner_jbouwu.jpg",
    //   imageBounds);
    stOverlay.setMap(map);

  })
</script>
<% end %>





<% end %>

