<div class="wrapper-gtm">
  <div class="title-gtm text-center">
    Send us a message!
  </div>
    <div class="form">
    <%= simple_form_for :contact, url: pages_contact_path do |f| %>
    <!-- The rest of the form -->
    <%= f.input :name, placeholder: "Your name", label:false %>
    <%= f.input :email, placeholder: "Your email", label:false %>
    <%= f.text_area :message, placeholder: "Tell/Ask us everything!", label:false %>
    <!-- Submit this event -->
    <%= f.button :submit, value: "Send", class: "btn-loc-cat send"  %>
    <% end %>
</div>
</div>
