<% content_for :meta_title , "Sneaker Tours" %>
<% content_for :meta_description , "Your alternative guide through Amsterdam, check the locations on our map!"  %>
<% content_for :meta_image , "st-map-kleiner.jpg" %>

<div class="wrapper-locations">
  <div id="locations-full-map"></div>
    <div class="locations-buttons">
    <%= link_to "Art/Culture", locations_path(category: 'culture'), class: "btn btn-loc-cat btn-space" %>
    <%= link_to "Bar", locations_path(category: 'bar'), class: "btn btn-loc-cat btn-space" %>
    <%= link_to "Food", locations_path(category: 'food'), class: "btn btn-loc-cat btn-space" %>
    <%= link_to "Party", locations_path(category: 'party'), class: "btn btn-loc-cat btn-space" %>
    <%= link_to "Shop/Market", locations_path(category: 'shop'), class: "btn btn-loc-cat btn-space" %>
    <%= link_to "Chill/Outdoors", locations_path(category: 'chill'), class: "btn btn-loc-cat btn-space" %>
    <%= link_to "All", locations_path(category: 'all'), class: "btn btn-loc-cat btn-space" %>
  </div>
  <div class="locations-list">
    <% @locations.each do |location| %>
    <%= link_to location.name, location_path(location) %> <br>
    <% end %>
    <div class="add_location">
  Missing a location? <br>
 <%= link_to "Add a Location", new_location_path, class: "btn btn-add-location"  %></div>

  </div>


  <div class="locations-social">
    <%= social_share_button_tag %>
 </div>






</div>


<!-- Showing the map with the markers -->

<% content_for(:after_js) do %>
<%#= javascript_tag do %>
<script type="text/javascript">
  $(document).on('ready', function(){


    var infowindow = null;

    var myLatLng = {lat: 52.373095, lng: 4.9099929 }

    var map = new google.maps.Map(document.getElementById('locations-full-map'), {
      zoom: 14,
      minZoom: 14,
      center: myLatLng,
      draggable: true,
      scrollwheel: false,
      mapTypeControl: false,
      styles: window.mapStyle,
    });

    // restrict bounds
    map.addListener('zoom_changed', function(map){
        lockBounds(this)
    });

    map.addListener('dragend', function(map){
        lockBounds(this)
    });

    map.addListener('idle', function(map){
        lockBounds(this)
    });




    // create markers for every location
    var i = 0;
    <% @locations.each do |loc| %>
    i += 1;
    infowindow = new google.maps.InfoWindow({
      content: ""
    });

    setTimeout(function() {
      var marker = new google.maps.Marker({
      position: {lat: <%= loc.latitude %>, lng: <%= loc.longitude %>},
      map: map,
      animation: google.maps.Animation.DROP,
      icon: "http://res.cloudinary.com/aafke/image/upload/v1468500999/markerblauw_rsfl86.png"
    });
    marker.addListener('click', function() {
          infowindow.setContent( '<div class="infowindow"> <div class="infowindow-title"> <%= loc.name %> </div><%= truncate(loc.description, length: 120)  %> <br> <br> <%= link_to "read more", location_path(loc)  %></div>'
                  );
          infowindow.open(map, this);
        });
  }, i * 500);

    <% end %>

    stOverlay = new google.maps.GroundOverlay(
      "http://res.cloudinary.com/aafke/image/upload/v1468501647/st-map-kleiner_jbouwu.jpg",
      imageBounds);
    stOverlay.setMap(map);

  })
</script>
<%# end %>
<% end %>

<!--
stmap = Gmaps.build('Google');
    stmap.buildMap({
    internal: {id: 'locations-map'},
    provider: {
      zoom: 13,
      center: new google.maps.LatLng(52.373095,4.8909129,17),
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      draggable: true,
      styles:    mapStyle
     }
    },
    function(){
      markers = stmap.addMarkers(<%= raw @markers.to_json %>);
                stmap.bounds.extendWidth(markers);
                 stmap.fitMapToBounds();
      stOverlay = new google.maps.GroundOverlay(
      '/assets/st-map.jpg',
      imageBounds);
      stOverlay.setMap(stmap.map);

    }
    );  -->

