
<div class="wrapper-locations">
  <div id="locations-full-map"></div>
    <div class="locations-buttons">
    <%= link_to "Art/Culture", locations_path(category: 'culture'), class: "btn btn-loc-cat btn-space" %>
    <%= link_to "Bar", locations_path(category: 'bar'), class: "btn btn-loc-cat btn-space" %>
    <%= link_to "Food", locations_path(category: 'food'), class: "btn btn-loc-cat btn-space" %>
    <%= link_to "Party", locations_path(category: 'party'), class: "btn btn-loc-cat btn-space" %>
    <%= link_to "Shop/Market", locations_path(category: 'shop'), class: "btn btn-loc-cat btn-space" %>
    <%= link_to "Chill/Outdoors", locations_path(category: 'chill'), class: "btn btn-loc-cat btn-space" %>
    <%= link_to "All", locations_path(category: 'all'), class: "btn btn-loc-cat btn-space" %>
  </div>
  <div class="locations-list">
    <% @locations.each do |location| %>
    <%= link_to location.name, location_path(location) %> <br>
    <% end %>
  </div>


</div>


<!-- Showing the map with the markers -->

<% content_for(:after_js) do %>
<%#= javascript_tag do %>
<script type="text/javascript">
  $(document).on('ready', function(){

    var myLatLng = {lat: 52.373095, lng: 4.9099929 }

    var map = new google.maps.Map(document.getElementById('locations-full-map'), {
      zoom: 14,
      center: myLatLng,
      styles: window.mapStyle
    });

    <% @locations.each do |loc| %>
    var marker = new google.maps.Marker({
      position: {lat: <%= loc.latitude %>, lng: <%= loc.longitude %>},
      map: map,
      animation: google.maps.Animation.BOUNCE,
      icon: '/assets/marker.png'
    });
    <% end %>

    stOverlay = new google.maps.GroundOverlay(
      '/assets/st-map.jpg',
      imageBounds);
    stOverlay.setMap(map);

  })
</script>
<%# end %>
<% end %>

<!--
stmap = Gmaps.build('Google');
    stmap.buildMap({
    internal: {id: 'locations-map'},
    provider: {
      zoom: 13,
      center: new google.maps.LatLng(52.373095,4.8909129,17),
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      draggable: true,
      styles:    mapStyle
     }
    },
    function(){
      markers = stmap.addMarkers(<%= raw @markers.to_json %>);
                stmap.bounds.extendWidth(markers);
                 stmap.fitMapToBounds();
      stOverlay = new google.maps.GroundOverlay(
      '/assets/st-map.jpg',
      imageBounds);
      stOverlay.setMap(stmap.map);

    }
    );  -->

